// Here you can add other styles

select option::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  position: relative;
  left: 10px;
  top: 2px;
  pointer-events: none;
}

.my-custom-class {
  /* Define your custom styles here */
  margin-left: 100px; /* Example style to add left margin */
  margin-right: 30px;
}


.app-sidebar-right {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12rem; /* Adjust the width as needed */
  background-color: #ffffff;
  /* Add any additional styles for the sidebar */
}


.my-heading {
  font-family: Arial, sans-serif;
  color:#3c4b64;
  font-weight: 500;
  font-size: 2em;
}

.blue-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 85px;
  height: 30px;
  background-color: #60bcf2;
  color: white;
  border: none;
  margin-right: 20px;
  text-align: center;
}

.blue-button:focus {
  outline: none;
  text-decoration: none;
}

.button-no-focus:hover {
  background-color: #60b1e0;
}

.button-no-focus:focus {
  background-color: #f8f9fa78;
}

.button-no-focus:active {
  background-color: #f8f9fa78 !important;
}

.blue-button button {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.blue-button-small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 50px;
  height: 30px;
  background-color: #60bcf2;
  color: white;
  border: none;
  margin-right: 20px;
  vertical-align: middle;
}

.blue-button-small img {
  vertical-align: middle;
}

.yellow-button-small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 50px;
  height: 30px;
  background-color: #FFC82E;
  color: white;
  border: none;
  margin-right: 20px;
}

.select-wrapper {
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 16px; /* adjust this value as needed */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000000;
  cursor: pointer;
  z-index: 1; /* add a z-index value to position the arrow above the select element */
}

.arrow::after {
  content: "";
  display: none;
}

.select-wrapper select:focus + .arrow {
  border-top: 6px solid #000000;
}

.select-wrapper select:focus + .arrow::after {
  content: "";
  display: none;
}


.filter-buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button.active {
  background-color: #007bff;
  color: #fff;
}
// ->>>>>>>>>>>>>>>>>>>>>>>>>>> Tables <<<<<<<<<<<<<<<<<<<<<<<<<<<- 

.home-table {
  border: 1px solid #d8d7d7;
  font-family: proxima-nova;
  font-size: 18px;
  border-radius: 8px;
  border-spacing: 0;
  border-collapse: separate;
}

.home-table th {
  position: relative;
  border-bottom: 1px solid #d8d7d7;
  padding: 15px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background: linear-gradient(to bottom, #ffe432 9%, transparent 0%);
}

.home-table1 {
  border: 1px solid #d8d7d7;
  border-radius: 8px;
  border-spacing: 0;
  border-collapse: separate;
}

.home-table1 th {
  position: relative;
  font-size: 30px;
  border-bottom: 1px solid #d8d7d7;
  padding: 15px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.home-table2 {
  border: 1px solid #d8d7d7;
  border-radius: 8px;
  border-spacing: 0;
  border-collapse: separate;
}

.home-table2 th {
  font-size: 18px;
  border-bottom: 1px solid #f0f0f0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #f0f0f0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.newstable {
  max-width: 640px;
  padding: 2px;
  background-color: rgb(255, 255, 255);
  color: rgb(24, 25, 25);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  opacity: 1;
  position: relative;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
  flex-direction: column;
  transition-property: background, border-color, height;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(225, 232, 237);
  overflow: hidden;
  text-decoration: none;
  -webkit-tap-highlight-color: rgb(245, 248, 250);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px 0px;
}

.qtt-background {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 60px;
  height: 20px;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  border: none;
  overflow: hidden;
  white-space: nowrap;
}

.viewall-background {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 90px;
  background-color:#90d9e4;
  color: rgb(255, 255, 255);
  border: none;
  overflow: hidden;
  white-space: nowrap;
}

.about-us-table {
  border: 1px solid #d8d7d7;
  font-family: Cambria;
  background-color: #666666;
  font-size: 18px;
  border-radius: 8px;
  border-spacing: 0;
  border-collapse: separate;
}

.table-wrapper {
  overflow-x: auto;
  white-space: nowrap;
}



// ->>>>>>>>>>>>>>>>>>>>>>>>>>> Text Styles <<<<<<<<<<<<<<<<<<<<<<<<<<<- 

.outline {
  -webkit-text-stroke: 0.4px black; 
}

.metric-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.metric-label {
  flex: 1;
  text-align: left;
  padding-right: 10px; /* Optional: add some space between label and box */
  font-size: 30px;
  color: #000000; /* Replace with your desired text color */
}

.metric-data {
  /* Add your styles for the metric data element here */
  /* Example styles: */
  font-size: 25px;
  margin-right: 10px;
  margin-left: 30px; /* Optional space between metric data and box */
}

.metric-box1 {
  flex: 1;
  text-align: left;
  background-color: #ffa952; /* Replace with your desired background color */
  padding: 4px;
  font-size: 10px;
  color:#f9f9f9;
  border-radius: 8px;
  max-width: 70px;
  min-width: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.metric-box2 {
  flex: 1;
  text-align: left;
  background-color: #ffdf52; /* Replace with your desired background color */
  padding: 4px;
  font-size: 10px;
  color:#f9f9f9;
  border-radius: 8px;
  max-width: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.metric-box3 {
  flex: 1;
  text-align: left;
  background-color: #52dcff; /* Replace with your desired background color */
  padding: 4px;
  font-size: 10px;
  color:#f9f9f9;
  border-radius: 8px;
  max-width: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.metric-box4 {
  flex: 1;
  text-align: left;
  background-color: #7852ff; /* Replace with your desired background color */
  padding: 4px;
  font-size: 10px;
  color:#f9f9f9;
  border-radius: 8px;
  max-width: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.metric-box5 {
  flex: 1;
  text-align: left;
  background-color: #e252ff; /* Replace with your desired background color */
  padding: 4px;
  font-size: 10px;
  color:#f9f9f9;
  border-radius: 8px;
  max-width: 55px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.metric-box6 {
  flex: 1;
  text-align: left;
  background-color: #43e243; /* Replace with your desired background color */
  padding: 4px;
  font-size: 10px;
  color:#f9f9f9;
  border-radius: 8px;
  max-width: 65px;
  justify-content: center;
  align-items: center;
  text-align: center;
}







