// Here you can add other styles

select option::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  position: relative;
  left: 10px;
  top: 2px;
  pointer-events: none;
}

.my-custom-class {
  /* Define your custom styles here */
  margin-left: 100px; /* Example style to add left margin */
  margin-right: 30px;
}


.app-sidebar-right {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12rem; /* Adjust the width as needed */
  background-color: #ffffff;
  /* Add any additional styles for the sidebar */
}


.my-heading {
  font-family: Arial, sans-serif;
  color:#3c4b64;
  font-weight: 500;
  font-size: 2em;
}

.blue-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 85px;
  height: 30px;
  background-color: #60bcf2;
  color: white;
  border: none;
  margin-right: 20px;
  text-align: center;
}

.blue-button:focus {
  outline: none;
  text-decoration: none;
}

.button-no-focus:hover {
  background-color: #60b1e0;
}

.button-no-focus:focus {
  background-color: #f8f9fa78;
}

.button-no-focus:active {
  background-color: #f8f9fa78 !important;
}

.blue-button button {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.blue-button-small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 50px;
  height: 30px;
  background-color: #60bcf2;
  color: white;
  border: none;
  margin-right: 20px;
  vertical-align: middle;
}

.blue-button-small img {
  vertical-align: middle;
}

.yellow-button-small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 50px;
  height: 30px;
  background-color: #FFC82E;
  color: white;
  border: none;
  margin-right: 20px;
}

.select-wrapper {
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 16px; /* adjust this value as needed */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000000;
  cursor: pointer;
  z-index: 1; /* add a z-index value to position the arrow above the select element */
}

.arrow::after {
  content: "";
  display: none;
}

.select-wrapper select:focus + .arrow {
  border-top: 6px solid #000000;
}

.select-wrapper select:focus + .arrow::after {
  content: "";
  display: none;
}

// ->>>>>>>>>>>>>>>>>>>>>>>>>>> Tables <<<<<<<<<<<<<<<<<<<<<<<<<<<- 

.home-table {
  border: 1px solid #d8d7d7;
  font-family: Cambria;
  font-size: 18px;
  border-radius: 8px;
  border-spacing: 0;
  border-collapse: separate;
}

.home-table th {
  position: relative;
  border-bottom: 1px solid #d8d7d7;
  padding: 15px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background: linear-gradient(to bottom, #ffe432 9%, transparent 0%);
}


.qtt-background {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 60px;
  height: 20px;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  border: none;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 120px;
}

.about-us-table {
  border: 1px solid #d8d7d7;
  font-family: Cambria;
  background-color: #666666;
  font-size: 18px;
  border-radius: 8px;
  border-spacing: 0;
  border-collapse: separate;
}


// ->>>>>>>>>>>>>>>>>>>>>>>>>>> Text Styles <<<<<<<<<<<<<<<<<<<<<<<<<<<- 

.outline {
  -webkit-text-stroke: 0.4px black; 
}









